.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  max-width: 500px;
  padding: 10px;
  background-color: rgba(41, 120, 130, 0.5);
  border-radius: 1.5rem;
  border: 2px solid white;
  box-shadow: 1px 2px 20px 0px #1c6878;
}

.botonBack {
  background-color: white;
  font-family: "myfont";
  position: absolute;
  padding: 0px 4px;
  padding-top: 2px;
  border: solid;
  border-radius: 5px;
  top: 100px;
  right: 95%;
  color: rgba(29, 51, 71, 0.801);
  font-size: 19px;
}

.botonBack:hover {
  transform: translateX(2px);
  cursor: pointer;
}

.imagen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  border-style: solid;
  border-radius: 10px;
  border-color: white;
  transform: translateY(-50%);
  animation: moveImage 3s infinite;
}
@keyframes moveImage {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;
  font-family: "myfont";
  font-weight: bold;
}

.div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
