.cardContainer {
  display: flex;
  align-items: center;
  max-width: 700px;
  margin: 30px auto;
  padding: 85px;
  background-color: rgba(41, 120, 130, 0.5);
  border-radius: 1.5rem;
  border: 2px solid white;
  box-shadow: 1px 2px 20px 0px #1c6878;
}

.botonBack {
  background-color: white;
  font-family: "myfont";
  position: absolute;
  padding: 0px 4px;
  padding-top: 2px;
  border: solid;
  border-radius: 5px;
  top: 100px;
  right: 95%;
  color: rgba(29, 51, 71, 0.801);
  font-size: 19px;
}

.botonBack:hover {
  transform: translateX(2px);
  cursor: pointer;
}

.imagen {
  border-style: solid;
  margin-left: 400px;
  border-radius: 10px;
  border-color: white;
  width: 36%;
  height: 30%;
  transform: translateY(-50%);
  animation: moveImage 3s infinite;
}
@keyframes moveImage {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.h1 {
  font-family: "myfont";
  position: absolute;
  justify-content: center;
  left: 150px;
  top: 150px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin-left: 80px;
}

.div {
  display: flex;
  flex-wrap: wrap;
}

/* Media queries para dispositivos móviles */
@media (max-width: 767px) {
  .cardContainer {
    padding: 200px;
    padding-left: 5px;
  }

  .imagen {
    width: 110px;
    height: 130px;
    position: absolute;
    left: 150px;
    margin-left: 10px;
    margin-top: 70px;
  }
  .h1 {
    position: absolute;
    left: 20px;
    margin-top: 30px;
    bottom: 30px;
    font-size: 10px;
  }

  .div {
    display: flex;
    justify-content: center;
  }
  .botonBack {
    padding: 2px;
    position: relative;
    top: -185px;
    left: 4px;
  }
}
